[Desktop Entry]
Type=Application
Name=COSMIC Connect Applet
Comment=Device connectivity panel applet
Icon=org.cosmicde.CosmicConnect
Exec=cosmic-applet-connect
Terminal=false
Categories=COSMIC;Utility;
NoDisplay=true
StartupNotify=false
X-CosmicApplet=true
X-CosmicHoverPopup=Auto
X-OverflowPriority=10
