[Desktop Entry]
Type=Application
Name=COSMIC Connect
GenericName=Device Manager
Comment=Manage connected devices for COSMIC Desktop
Icon=org.cosmicde.CosmicConnect
Exec=cosmic-connect-manager
Terminal=false
Categories=Settings;HardwareSettings;Network;
Keywords=connect;phone;device;sync;manager;android;share;
StartupNotify=true
X-Flatpak-RenamedFrom=cosmic-connect-manager.desktop;

[Desktop Action SendFile]
Name=Send File
Exec=cosmic-connect-manager --action send-file

[Desktop Action Devices]
Name=View Devices
Exec=cosmic-connect-manager

[Desktop Action Settings]
Name=Settings
Exec=cosmic-connect-manager --settings
