[Desktop Entry]
Name=COSMIC Connect
GenericName=Device Connectivity
Comment=Connect and manage your Android and desktop devices
Exec=cosmic-connect
Icon=phone-symbolic
Terminal=false
Type=Application
Categories=COSMIC;Network;RemoteAccess;FileTransfer;
Keywords=phone;android;sync;connect;transfer;share;notification;
StartupNotify=true
StartupWMClass=cosmic-connect
X-COSMIC-FormFactor=desktop;laptop;
